.ipynb_checkpoints/
.DS_Store
mlartifacts/
mlruns/
*.parquet
*.bin
*.pkl
*__pycache__*
*.pickle
local.settings.json
.python_packages
.venv
__azurite_db_*
keys_test_private.txt
*.vscode/
*__blobstorage__/
*/prometheus_data/*
*/data/*
datasets/
prometheus_data/*
.env
*/mlflow_data/*
.pytest_cache/
.terraform/
terraform.tfvars
terraform.tfstate.backup
terraform.tfstate
