scikit-learn~=1.3.0 # because of sklearn
pandas
flask
numpy==1.26.4 # because of evidently
gunicorn
ucimlrepo
jupyter
ipykernel
evidently
hyperopt
mlflow
psycopg2-binary
azure-identity
seaborn
isort
black
pylint
pytest
pre-commit
dotenv
